@(nombre: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hospital Santa Fe</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap2.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/metisMenu.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sb-admin-2.css")">

    </head>
    <body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style=" background-color: rgb(12,120,159)">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #fff" href="@routes.HomeController.index()">Hospital Santa Fe</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li style="color: #fff">
                    @nombre
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user-circle fa-fw" style="color: #fff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="@routes.MedicoController.detalle(1L)"><i class="fa fa-user fa-fw"></i>Ver perfil</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Opciones</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-question-circle fa-fw"></i>Ayuda</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="@routes.HomeController.index()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style=" background-color: rgb(150,196,216)">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@routes.PacienteController.lista()" style="color: #fff"><i class="fa fa-male fa-fw"></i> Ver Listado de Pacientes</a>
                        </li>
                        <li>
                            <a href="@routes.PacienteController.detalle(1L)" style="color: #fff"><i class="fa fa-search fa-fw"></i> Buscar Paciente</a>
                        </li>
                        <li>
                            <a href="tables.html" style="color: #fff"><i class="fa fa-bar-chart fa-fw"></i> Ver historial de mediciones</a>
                        </li>
                        <li>
                            <a href="forms.html" style="color: #fff"><i class="fa fa-edit fa-fw"></i> Buscar Colegas</a>
                        </li>
                        <li>
                            <a href="#" style="color: #fff"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html" style="color: #fff">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html" style="color: #fff">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html" style="color: #fff">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html" style="color: #fff">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html" style="color: #fff"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html" style="color: #fff">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @content
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
<!--java script -->
    <script  src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script  src="@routes.Assets.versioned("javascripts/bootstrap2.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/metisMenu.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/sb-admin-2.js")" ></script>
    </body>
</html>
