@(nombre: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hospital Santa Fe</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap2.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/metisMenu.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sb-admin-2.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/morris.css")">

    </head>
    <body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style=" background-color: rgb(12,120,159)">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #fff" href="@routes.HomeController.index()">Hospital Santa Fe</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="@routes.PacienteController.lista()" style="color: #fff">Pacientes</a>
                </li>
                <li>
                    <a href="@routes.MedicionController.lista()" style="color: #fff">Hospital</a>
                </li>
                <li>
                    <a href="@routes.MedicoController.lista()" style="color: #fff">Medicos</a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li style="color: #fff">
                    @nombre
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user-circle fa-fw" style="color: #fff"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="@routes.MedicoController.detalle(1L)"><i class="fa fa-user fa-fw"></i>Ver perfil</a>
                        </li>
                        <li><a href="@routes.MedicoController.detalle(1L)"><i class="fa fa-bell fa-fw"></i> Notificaciones<i class="fa fa-exclamation-circle fa-fw"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Opciones</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-question-circle fa-fw"></i>Ayuda</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="@routes.HomeController.login()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            @content
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
<!--java script -->
    <script  src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <script  src="@routes.Assets.versioned("javascripts/bootstrap2.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/metisMenu.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/raphael.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/morris.min.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/morris-data.js")" ></script>
    <script  src="@routes.Assets.versioned("javascripts/sb-admin-2.js")" ></script>
    </body>
</html>
