@(mediciones: List[Medicion])

@main("Hospital Cardiologico de Santa Fe") {

<div class="container">
    <div id="page-wrapper">
        <div class="panel panel-default">
            <h1>&nbsp;</h1>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Referencia</th>
                        <th>Fecha</th>
                        <th>Frecuencia Cardiaca</th>
                        <th>Presion</th>
                        <th>Estres</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(medicion <- mediciones) {
                    <tr>
                        <td>@medicion.getReferencia()</td>
                        <td>@medicion.getFecha().getTime()</td>
                        <td>@medicion.getFrecuencia()</td>
                        <td>@medicion.getPresion()</td>
                        <td>@medicion.getEstres()</td>
                        <td>@medicion.getEstado()</td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div> <!-- /container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted"> <a href="@routes.HomeController.index()">inicio</a> - mediciones</p>
    </div>
</footer>

}
