@(nombre: String)(medicos: List[Medico])

@main("nombre") {
<div class="navbar-default sidebar" role="navigation" style=" background-color: rgb(150,196,216)">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@routes.MedicoController.lista()" style="color: #fff"><i class="fa fa-male fa-fw"></i> Ver Listado de Medicos</a>
            </li>
            <li>
                <a href="@routes.MedicoController.detalle(1L)" style="color: #fff"><i class="fa fa-search fa-fw"></i> Buscar Medico <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" style="color: #fff">Buscar medico por nombre</a>
                    </li>
                    <li>
                        <a href="#" style="color: #fff">Buscar medico por documento</a>
                    </li>
                    <li>
                        <a href="#" style="color: #fff">Buscar medico por correo electronico</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
    <div class="container">
        <p class="text-muted"> <a href="@routes.HomeController.index()">inicio</a> - pacientes</p>
    </div>
    <div class="container">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            @for(medico <- medicos) {
            <tr>
                <td><a href="../HospitalSantaFe/medicos/@medico.getIdMedico">@medico.getIdMedico()</a></td>
                <td>@medico.getNombreMedico()</td>
            </tr>
            }
            </tbody>
        </table>
    </div> <!-- /container -->
</div>
}
